.card_heading {
    font-size: 50px;
    font-weight: 700;
    text-transform: none;
    line-height: 50px;
    color: #3e402d;
    margin-right: 2px;
    margin-bottom: 20px;
}

.craft-para {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 35px;
    margin-right: 100px;
}


@media only screen and (max-width:768px) {
    .card_heading {
        margin-right: 0px;
    }

    .craft-para {
        margin-right: 0px;
        font-size: 16px;
    }

    .button {
        position: relative;
        top: 500px;
        margin-bottom: 30px;
    }

    .card-title {
        margin-top: 0px;
    }
}

@media only screen and (min-width:768px) and (max-width: 992px) {
    .card_heading {
        margin-right: 0px;
    }

    .craft-para {
        margin-right: 0px;
        font-size: 16px;
    }

    .card-title {
        margin-top: 0px;
    }

}