* {
    padding: 0;
    margin: 0;
}

.para {
    background-color: rgb(49, 51, 23);
    padding: 10px;
    color: white;
    text-align: center;
}

.back-img {
    background-image: url('../../Asserts/lady.webp');
    height: 800px;
    width: 750px;
    color: white;
    background-repeat: no-repeat;
    background-color: rgb(64, 66, 47);
    background-size: cover;
}

.small-link {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px;
}

.small-img {
    height: 200px;
    width: 200px;
}

.curouselcontainer {
    width: 560px !important;
}

.small-heading {
    font-size: 60px;
    font-family: FuturaPT-Book;
    font-weight: bold;
    padding: 20px;
}

.align-center {
    padding: 73px;
}

.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover {
    color: #000000;
}

.navbar .navbar-nav .nav-item {
    position: relative;
}

.navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #000000;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.5s;
}

.underline {
    display: inline;
    position: relative;
    overflow: hidden;
}

.underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -5px;
    background: #000;
    height: 4px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
    right: 0;
}

.navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
}

.navbtn {
    border: none;
    margin: 10px;
}

.small-section {
    padding: 0px 38px 77px 38px;
}

.small-heading {
    padding: 20px 48px 20px 0px;
    font-size: 70px;
}

.small-para {
    font: 20px FuturaPT-Book;
    line-height: 1.5;
    margin: 0px 0px 40px;
}

.navbar-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.logo-heading {
    margin: 20px 63px 60px 105px;
}

.logo {
    margin-left: 30px;
}

.shop_nowbtn {
    padding: 12px 28px;
    background-color: #313323;
    color: #FFFFFF;
    border: none;
}

.navbar-sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

@media only screen and (min-width: 992px) {
    .navbar {
        padding: 0;
    }

    .navbar .navbar-brand {
        padding: 0 0.7em;
    }

    .navbar .navbar-nav .nav-item {
        margin: 0 1em;
    }
}

@media only screen and (max-width: 768px) {
    .small-img {
        height: 135px;
        width: 137px;
    }

    .small-heading {
        font-size: 48px;
    }

    .small-para {
        font: 15px FuturaPT-Book;
        line-height: 22px;
        margin: 0px 26px 35px 0px;
    }

    .logo-heading {
        margin: 0px;
    }

    .small-section {
        padding: 0px;
    }

    .back-img {
        background-image: none;
        height: 600px;
        margin-bottom: 20px;
    }

    .shop_nowbtn {
        width: 100%;
    }

    .carousel {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 770px) and (max-width: 1125px) {
    .curouselcontainer {
        width: 372px !important;
    }

    .logo-heading {
        margin: 0px;
    }

    .small-heading {
        font-size: 40px;
    }

    .back-img {
        background-size: 405px 675px;
        height: 675px;
    }

    .small-section {
        padding: 0px;
    }
}