.black-background {
    background-image: url('../../../public/Asserts/black.webp');
    background-color: rgb(62, 64, 45);
    color: rgb(120, 120, 120);
    padding: 120px;
    color: white;
}

.section_one {
    margin-left: 150px;
}

.explore_heading {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
    width: 93%;
    line-height: 43px;

}

.explore_link {
    color: white;
    font-size: 20px;
}

.explore_number {
    font-size: 70px;
    font-weight: 700;
}

.explore_span {
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 5px;
}

@media only screen and (max-width: 768px) {
    .black-background {
        padding: 60px;
    }

    .section_one {
        margin-left: 0px;
    }

    .explore_heading {
        font-size: 28px;
    }

    .explore_number {
        font-size: 36px;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .explore_span{
        padding: 0px;
        font-size: 13px;
    }
    .explore_link{
        font-size: 16px;
    }
}